extend layout

block content
  if session.email
    form(method='post', action='/mix', id='mix-form')
      h2 Add a new mix
      input(type='text', placeholder='Artist', name='artist', value='')
      input(type='text', placeholder='Mix title', name='title', value='')
      input(type='text', placeholder='Release date', name='release_date', value='')
      input(type='text', placeholder='Total time (hh:mm:ss)', name='total_time', value='')
      button(type='reset', class='cancel') Cancel
      button(type='submit', class='submit') Add

  ol#mixes
    li.header
      h2 Artist
      h3 Mix
      p.release-date Release Date
      p.total-time Length
      p.mix-actions